*{
    padding: 0;
    margin: 0;
    clear: both;
    outline: none !important;
    color: black;
    background-color: white;
    font-family: sans-serif;
}

html{
    background-color: #f3f5f6;
}

main{
    max-height: 800px;
    max-width: 500px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 20px;
}

#message-container{
    height: calc(100% - 40px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#messages{
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    max-height: 100%;
    min-height: 50px;
    overflow-y: auto;
}
#messages li{
    width: 100%;
    list-style: none;
    margin-bottom: 5px;
}
#messages li p{
    margin: 0;
    max-width: 60%;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

.from-server p{
    color: white;
    background-color: #0074D9;
    border-bottom-left-radius: 0 !important;
}
.from-user{
    text-align: right;
}
.from-user p{
    color: black;
    background-color: #2ECC40;
    border-bottom-right-radius: 0 !important;
}

#controls{
    height: 40px;
    width: 100%;
    border-top: 2px solid grey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#send{
    border: none;
    border-left: 2px solid grey;
    height: 100%;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom-right-radius: 20px;
}

#msg{
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
}

#clear{
    position: absolute;
    top: 20px;
    left: 0px;
    border: 1px solid black;
    padding: 2px 5px;
    margin-left: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 25px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.3s;
}
#clear:hover{
    width: 68px;
}
